* {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
header {
  position: relative;
  height: 50px;
}
nav {
  width: 100%;
  height: 50px;
  background: #212121;
}
.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0; /* обнуляем bs стили*/
  list-style-type: none;
}
.menu .menu_link {
  font-size: 15px;
  font-weight: 300;
  color: #ffffff;
}
.menu .menu_item:not(:last-child) {
  border-right: 2px dotted black; /* задаём гориз.разделители */
  padding-right: 28px;
}
.subheader {
  position: absolute; /* что бы картинка наехала */
  width: 100%; /* 100% от родителя header*/
  height: 84px;
  background: rgba(
    0,
    0,
    0,
    0.6
  ); /* задаём прозрачность 0.6 через rgba, что бы распространялась не на все эл-ты (как если бы её прописать - opacity: 0.6; */
}
.subheader .subheader_logo {
  display: block;
  max-width: 100%; /* если помняется логотип, чтобы не вылез */
  margin-top: 16px;
}
.subheader .subheader_official {
  margin-top: 6px;
  font-size: 13px;
  font-weight: 100;
  color: #ffffff;
  opacity: 0.5;
}
.subheader .subheader_call {
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  margin-top: 19px;
  text-align: right;
}
.subheader .subheader_phone {
  display: block;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  color: #ffffff;
}
.subheader .subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  background-image: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  border: none;
  border-radius: 6px;
  box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.11);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}
/* section promo*/
.promo {
  min-height: 800px;
  background: url("../img/background1.jpg") center center/cover no-repeat;
  padding: 150px 0 135px 0;
}
.promo .promo_header {
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 60px;
  margin: 0;
  text-align: center;
}
.promo .promo_subheader {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 36px;
  margin: 0;
  margin-top: 22px;
  text-align: center;
}
.promo .promo_descr {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  margin-top: 23px;
}
.promo .promo_btn {
  display: block; /* т.к кнопка инлайновый эл-т, а мы её сиавим по центру*/
  margin: 118px auto 0 auto;
  width: 265px;
  height: 69px;
  background-image: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
  border: none;
  border-radius: 4px;
  box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.11);
  font-size: 18px;
  line-height: 68px;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}
/*section reason*/
.reasons {
  padding: 71px 0 65px 0;
}
/* общие стили для reasons & mobile*/
.label {
  margin: 0 auto 32px;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}
/* общие стили */
.title {
  margin: 0;
  color: #222222;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.reasons .reasons_block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.reasons .reasons_block .reasons_round {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 26px;
  width: 113px;
  height: 113px;
  background-color: #1eacc7;
  border-radius: 100%;
}

.reasons .reasons_block .reasons_descr {
  width: 343px;
}

.reasons .reasons_block .reasons_descr .reasons_subtitle {
  line-height: 21px;
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
}

.reasons .reasons_block .reasons_descr .reasons_text {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}
/* section mobile*/
.mobile {
  min-height: 864px;
  padding: 48px 0 79px 0;
  background: url("../img/mobile_bg.png") center center/cover no-repeat;
}
.mobile_item {
  height: 280px;
  width: 320px;
  margin: 0 auto;
}
.mobile_subtitle {
  margin: 1px 0 30px;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  color: #222222;
}
.mobile_item_1 {
  background: url("../img/Card_1.jpg") center center/cover no-repeat;
}
.mobile_item_2 {
  background: url("../img/Card_2.jpg") center center/cover no-repeat;
}
.mobile_item_3 {
  background: url("../img/Card_3.jpg") center center/cover no-repeat;
}
.mobile_item_4 {
  background: url("../img/Card_4.jpg") center center/cover no-repeat;
}
.mobile_item_5 {
  background: url("../img/Card_5.jpg") center center/cover no-repeat;
}
.mobile_item_6 {
  background: url("../img/Card_6.jpg") center center/cover no-repeat;
}